@font-face {
    font-family: 'RSS Arial Extended';
    src: url('../fonts/ArialRSSExtended-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
	font-size: 20px;
}

body{
    font-family: 'RSS Arial Extended', serif;
 	background-color: #000;
 	color: #0f0;
 	display: flex;
 	flex-wrap: wrap;
 	justify-content: center;
 	margin-bottom: 0;
 	line-height: 1.65;
 	margin-left: 0;
 	margin-right: 0;
}

#jump_links{
	position: fixed;
	display: flex;
	flex-direction: column;
	z-index: 100;
	top: 50%;
	right: 1rem;
	padding: 0.5rem;
	box-sizing: border-box;
	transform: translateY(-50%);
	background-color: rgba(0,0,0,0.7);
	box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
}

#jump_links a{
	margin: 0.5rem 0;
	padding: 0.25rem 0.75rem;
	text-decoration: none;
	border-radius: 50%;
	border: 1px solid #0f0;
}

#jump_links a.selected,
#jump_links a:focus{
	background-color: #0f0;
	color: #000;
}

#jump_links a:focus{
	outline: 1px dotted #0f0;
	outline-offset: 0.2rem;
}

@media (hover: hover){
	#jump_links a:hover{
		background-color: #0f0;
		color: #000;
	}
}

a:link,
a:visited{
	color: #0f0;
}

.italic{
	display: inline-block;
	transform: skew(15deg);
	padding-left: 2rem;
}

#meta_info_wrapper{
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	width: 40%;
	text-align: right;
	font-size: 0.75rem;
}

#spin{
	position: fixed;
	bottom: 1rem;
	left: 1rem;
}

.border{
	position: fixed;
	top: 0;
	bottom: 0;
	height: 100vh;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

h1,
p,
span{
	font-size: 1rem;
	font-weight: 400;
}

.description_120,
.description_60{
	position: fixed;
	top: 0;
	padding: 1rem;
	width: 50%;
	text-align: left;
	z-index: 10;
	box-sizing: border-box;: 
}

.description_120{
	left: 0%;
}

.description_60{
	text-align: right;
	left: 50%;
}

.text_section.title,
.text_section.large_title{
	text-align: center;
}

.text_section.large_title{
	font-size: 22vh;
	line-height: 1;
	text-transform: uppercase;
	width: 100%;
	height: 100vh;
	margin-top: 0;
	background-color: transparent;
	box-shadow: none;
	z-index: 100;
}

#title{
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 4rem;
	box-sizing: border-box;
}

.text_section{
	text-align: left;
	position: relative;
	margin-top: 40vh;
	margin-bottom: 0;
	padding: 2rem;
	background-color: rgba(0,0,0,0.7);
	box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
	z-index: 10;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.video_120{
	position: fixed;
	top: 50%;
	left: 0;
	max-width: 50%;
	transform: translate(0, -50%);
}

body:after,
body:before{
	position: fixed;
	content: '';
	bottom: 20%;
	left: 25%;
	height: 2rem;
	width: 25%;
	transform: translateX(-50%);
	border-bottom: 1px solid #0f0;
	border-left: 1px solid #0f0;
	border-right: 1px solid #0f0;
	z-index: 10;
}

body:before{
	left: auto;
	right: 25%;
	transform: translateX(50%);
}

.video_60{
	position: fixed;
	top: 50%;
	right: 0;
	max-width: 50%;
	transform: translate(0, -50%);
}

#stats{
	display: block;
	position: relative;
	background-color: #0f0;
	color: #000;
	margin-top: 10rem;
	width: 100%;
	height: 100vh;
	z-index: 2;
}

#stats_title{
	position: absolute;
	top: 0rem;
	font-size: 1rem;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
}

#credits a{
	color: #000;
}

#credits span{
	font-size: 0.75rem;
	display: block;
	width: 50%;
	box-sizing: border-box;
}

.heading{
	text-align: right;
	padding-right: 0.5rem;
	border-right: 1px solid;
}

.answer{
	padding-left: 0.5rem;
}

#credits{
	position: absolute;
	bottom: 1rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	left: 50%;
	transform: translateX(-50%);
	width: 50%;
}

h1{
	margin: 0;
}

@media (max-width: 1000px){

}